<footer class="py-5 bg-dark text-light" id="">
  <div class="container">
    <div class="row border-top pt-4">
      <section class="col-lg-9 row">
        <div class="col-md-4 mb-3">
          <h5>Get in touch</h5>
          <ul class="list-unstyled">
            <li class="mb-2">
              <a href="tel:+201021551322" >
                +201021551322
              </a>
            </li>
            <li class="mb-2">
              <a href="mailto:{{ email }}" >
                {{ email }}
              </a>
            </li>
          </ul>
        </div>

        <div class="col-md-4 mb-3">
          <h5>Our Offices</h5>
          <ul class="list-unstyled">
            <li class="mb-2">
              <a href="https://www.google.com/maps/search/11%20Ahmed%20Al%20Shatouri%2C%20Ad%20Doqi%2C%20Dokki%2C%20Giza%20Governorate%2012611%2C%20Egypt/@30.0328,31.2092,17z?hl=en"
                target="_blank" class=" text-decoration-none">
                11 Ahmed Al Shatouri, Ad Dokki, Giza Governorate
              </a>
            </li>
          </ul>
        </div>

        <div class="col-md-4 mb-3">
          <h5>Working Hours</h5>
          <ul class="list-unstyled">
            <li class="mb-2">Sunday: 10:00 - 18:00</li>
            <li class="mb-2">Monday: 10:00 - 18:00</li>
            <li class="mb-2">Tuesday: 10:00 - 18:00</li>
            <li class="mb-2">Wednesday: 10:00 - 18:00</li>
            <li class="mb-2">Thursday: 10:00 - 18:00</li>
            <li class="mb-2">Friday: Closed</li>
            <li class="mb-2">Saturday: Closed</li>
          </ul>
        </div>
      </section>

      <div class="col-lg-3 mb-3 text-end">
        <p>© 2024 Company, Inc. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
