<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
  <h1 class="primary-title text-center">About</h1>
  <div class="col-lg-8">
    <h1 class="secondary-title">WE ARE THE BONDERS!</h1>
    <p class="primary-body-text">Bonders are a blend of cheerful, uprising and creative peeps working to deliver outstanding services. We are committed and loyalty runs in the veins; when we are put together our results blow minds.</p>
  </div>
  <div class="col-10 col-sm-8 col-lg-4 d-flex justify-content-between align-items-center">
    <img
      src="https://static.vecteezy.com/system/resources/thumbnails/008/509/694/small_2x/fist-punching-illustration-png.png"
      class="img-fluid bump-left"
      alt=""
      width="150"
      loading="lazy"
    />
    <img
      src="https://static.vecteezy.com/system/resources/thumbnails/008/509/694/small_2x/fist-punching-illustration-png.png"
      class="img-fluid bump-right"
      alt=""
      width="150"
      loading="lazy"
    />
  </div>

</div>
