<div class="px-4 py-5 mx-5 text-center" style="margin-top: 150px;">
  <img class="d-block mx-auto mb-1" src="https://digitalbondmena.com/assets/images/Logo_V2.gif" style="width: 200px; height: 200px;" alt="digital-bond-logo" >
  <div class="col-lg-8 mx-auto">
    <p class="primary-body-text mb-4">Bonders are a blend of cheerful, uprising and creative peeps working to deliver outstanding services. We are committed and loyalty runs in the veins; when we are put together our results blow mind.</p>
  </div>
</div>
